@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
  
.item {
  /* display: flex; */
  /* flex-flow: row nowrap; */
  /* justify-content: flex-start; */
  padding: .2em;
  text-align:left;
  border-bottom: 1px solid grey;
}

.item a {
  color: rgb(38,38,38);
  text-decoration: none;
  font-size: 1.3em;
  display: flex;
  flex-flow: row nowrap;
  align-items:center;
  padding-left: .3em
}
  .item img {
    max-width: 50px;
    /* float: left; */
    margin-right: .2em;
  };

  .item a p {
    text-align: justify;
    /* margin-top: 2em; */
    margin: 5em
  }

  .show {
    padding: 1em;
    width: 90%
  }

  .show img {
    max-width: 70px;
    max-height: 70px
  }

  .show select {
    width: 100%
  }

  .icondisp {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .edit img {
    max-width: 100px;
    max-height: 100px;
  }

  .edit form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .edit form input {
    margin: .1em;
    width: 100%;
  }

  .edit {
    padding: 1em;
    justify-content: center;
  }

  .edit > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  .edit form div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%
  }

  .newForm {
    display: flex;
    flex-flow: column nowrap;
    padding: 1em;
  }

  .newForm input {
    margin: .1em;
  }

  .footer {
    background-color: rgb(38,38,38);
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content:center; 
  }

  .footer img {
    max-height: 3em; 
    margin: 0 2em;  
  }

  .header {
    background-color: rgb(38,38,38);
    padding: .5em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    color: white; 
    font-size: 1.5em
  }

  .list {
    height: 80vh;
    overflow: scroll; 
  }